.studio-screen__pages {
  display: flex;
  height: 100%;
  width: 100%;
}

.pages-layout {
  display: flex;
  flex: 1;
}

.pages-layout [data-zone=a] {
  max-width: 20rem;
}

.pages-layout [data-zone=c] {
  max-width: 30rem;
}
