.admin-header {
  top: 0;
  flex: 0;
  width: 100%;
  height: var(--header);
  background: var(--background);
  border-bottom: var(--border-solid);
  position: sticky;
  z-index: 1;
}

.admin-header__container {
  position: relative;
  height: calc(var(--header) - 1px);
  margin-inline: var(--space-x);
}

.admin-header__path {
  line-height: var(--header);
  display: inline;
}

.admin-header__actions {
  top: 0;
  right: 0;
  position: absolute;
  height: var(--header);
}

.admin-header__action-button {
  --button-size: var(--header);
  --button-overlay-inset: calc(var(--spacing) * 1);
  --button-overlay-radius: calc(var(--radius) / 2);
  width: var(--button-size);
  height: calc(var(--button-size) - 1px);
}
