.admin-header {
  width: 100%;
  position: sticky;
  height: var(--header);
  border-bottom: var(--border);
  background: var(--background);
  z-index: 1;
  top: 0;
}

.admin-header__container {
  height: inherit;
  position: relative;
  margin-inline: var(--space-x);
}

.admin-header__path {
  height: inherit;
  display: inline-flex;
  align-items: center;
  font-size: var(--text-sm);
}

.admin-header__profile {
  top: 50%;
  right: 0;
  cursor: pointer;
  transform: translateY(-50%);
  position: absolute;
  padding: 0.4378em;
}
