.admin-header {
  top: 0;
  flex: 0;
  width: 100%;
  height: var(--header);
  background: var(--background);
  border-bottom: var(--border);
  position: sticky;
  z-index: 1;
}

.admin-header__container {
  position: relative;
  height: calc(var(--header) - 1px);
  margin-inline: var(--space-x);
}

.admin-header__path {
  line-height: var(--header);
  display: inline;
}

.admin-header__profile {
  top: 50%;
  right: 0;
  cursor: pointer;
  transform: translateY(-50%);
  position: absolute;
  padding: 0.4378em;
}
