.studio-account__profile img {
  border-radius: 999px;
  vertical-align: top;
  border: var(--border);
}

.studio-account__panel {
  width: 16rem;
  border: var(--border);
  background: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  position: absolute;
  right: 0;
}

.studio-account__user {
  padding: var(--layout-inset);
  border-bottom: var(--border);
}
