.studio-account__container {
  display: block;
  position: relative;
}

.studio-account__profile-user {
  display: block;
}

.studio-account__panel {
  top: calc(100% + 0.437em);
  position: absolute;
  width: 16rem;
  right: 0;
}

.studio-account__panel--open {
  animation: var(--card-pop);
}

.studio-account__panel--closing {
  animation: var(--card-pop-reverse);
}

.studio-account__menu {
  border: var(--border);
  background: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.studio-account__menu-content {
  display: flex;
  flex-direction: column;
  animation: var(--card-fade);
  gap: var(--spacing);
  opacity: 0;
}

.studio-account__profile {
  border: 0;
  padding: 0;
  background: transparent;
  text-align: left;
  cursor: pointer;
}

.studio-account__user {
  display: flex;
  align-items: center;
  padding: var(--layout-inset);
  gap: calc(var(--spacing) * 3);
}

.studio-account__avatar {
  border-radius: 999px;
  vertical-align: top;
  border: var(--border);
}

.studio-account__info {
  display: flex;
  flex-direction: column;
}

.studio-account__email {
  color: var(--text-muted);
}

.studio-account__logout {
  display: none;
}
