.studio-account__profile {
  border: 0;
  padding: 0;
  background: transparent;
  text-align: left;
  cursor: pointer;
}

.studio-account__profile img {
  border-radius: 999px;
  vertical-align: top;
  border: var(--border);
}

.studio-account__panel {
  width: 16rem;
  position: absolute;
  animation: var(--card-pop);
  opacity: 0;
  right: 0;
}

.studio-account__panel::before {
  content: '';
  height: 0.4rem;
  display: block;
}

.studio-account__panel--closing {
  animation: var(--card-pop-reverse);
}

.studio-account__menu {
  border: var(--border);
  background: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  padding: var(--layout-inset);
}

.studio-account__menu--content {
  animation: var(--card-fade);
  opacity: 0;
}

.studio-account__user {
  padding: var(--layout-inset);
  border-bottom: var(--border);
}
