[data-scheme="dark"] {
  --text: #f3f4f6;
  --text-hover: #f3f4f6;
  --text-muted: #9ca3af;
  --accent: #005fcc;

  --link: #aaadeb;

  --color-border: #24252f;

  --background: #131319;
  --foreground: #f3f4f6;

  --button: #e4e5e9;
  --button-hover: #eeeef2;

  --button-muted: #181820;
  --button-hover-muted: #21212a;

  --button-accent: #005fcc;
  --button-hover-accent: #0071ff;

  --error: #f97373;
  --error-bg: #24161b;
  --valid: #34d399;

  --boot-track: #24252f;
  --boot-spinner: #8a8a8a;

  --shadow: #00000033;

  --border: 1px solid var(--color-border);
  --box-shadow: 0 .25rem .75rem var(--shadow);
}

[data-scheme="light"] {
  --text: #222222;
  --text-hover: #252837;
  --text-muted: #515870;
  --accent: #e4e5e9;

  --link: #4a46e0;

  --color-border: #e3e4e8;

  --background: #ffffff;
  --foreground: #131316;

  --button: #252837;
  --button-hover: #eeeef2;

  --button-muted: #f6f6f8;
  --button-hover-muted: #e4e5e9;

  --button-accent: #005fcc;
  --button-hover-accent: #0071ff;

  --error: #f97373;
  --valid: #34d399;

  --boot-track:#d7dde8;
  --boot-spinner:#1f2937;

  --shadow: #0000001a;

  --border: 1px solid var(--color-border);
  --box-shadow: 0 .25rem .75rem var(--shadow);
}
