.studio-scheme {
  height: var(--header);
  margin-right: var(--spacing);
  float: left;
}

.studio-scheme__container {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.studio-scheme__trigger {
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  text-align: left;
  cursor: pointer;
}

.studio-scheme__panel {
  top: calc(100% - 1px);
  position: absolute;
  right: 0;
}

.studio-scheme__panel--open {
  animation: var(--card-pop);
}

.studio-scheme__panel--closing {
  animation: var(--card-pop-reverse);
}

.studio-scheme__menu {
  border: var(--border);
  background: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.studio-scheme__menu-content {
  display: flex;
  gap: var(--spacing);
  padding: var(--layout-inset);
  animation: var(--card-fade);
  opacity: 0;
}
