.pages-catalog {
  height: 100%;
}

.pages-catalog__header,
.pages-catalog__search {
  display: flex;
  align-items: center;
  position: relative;
}

.pages-catalog__header-subtitle {
  color: var(--text-ghost);
}

.pages-catalog > div:not(:last-child) {
  margin-bottom: 0.5rem;
}

.pages-catalog__header-action {
  right: 0;
  display: flex;
  gap: calc(var(--layout-gap) / 2);
  position: absolute;
}

.pages-catalog__action--archived[active]::after {
  background: var(--ghost-hover);
}

.pages-catalog__main {
  display: grid;
  gap: var(--layout-gap);
}

.pages-catalog__item {
  display: block;
  user-select: none;
  border-radius: var(--baseline);
  position: relative;
  isolation: isolate;
  overflow: hidden;
  cursor: pointer;
  min-width: 0;
}

.pages-catalog__item::after {
  content: "";
  position: absolute;
  border-radius: var(--baseline);
  background: transparent;
  overflow: hidden;
  opacity: 0.25;
  z-index: -1;
  inset: 0;
}

.pages-catalog__item:hover::after {
  transition: none !important;
}

.pages-catalog__item:hover::after,
.pages-catalog__item[active]::after {
  background: var(--ghost-hover);
}

.pages-catalog__item-row {
  position: relative;
  padding-block: 0.625rem;
  margin-inline: 0.5rem;
}

.pages-catalog__item[active] {
  background: var(--ghost-hover);
}

.pages-catalog__item-label {
  display: flex;
  gap: calc(var(--layout-gap) / 3);
}

.pages-catalog__item-title > span {
  display: flex;
  transition: max-width var(--transition-base);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 25ch;
}

.pages-catalog__item[open] .pages-catalog__item-title > span {
  max-width: 17ch;
}

.pages-catalog__item-status {
  display: flex;
}

.pages-catalog__item-status svg {
  fill: currentColor;
  stroke: currentColor;
}

[data-scheme=light] .pages-catalog__item-status svg {
  stroke-width: 6px;
}

[data-scheme=dark] .pages-catalog__item-status svg {
  stroke-width: 4px;
}

.pages-catalog__item-status--live {
  color: var(--valid);
}

.pages-catalog__item-more {
  display: flex;
  gap: var(--layout-gap);
  flex-direction: row-reverse;
  margin-left: auto;
}

.pages-catalog__item-actions {
  top: 50%;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
}

.pages-catalog__item:hover .pages-catalog__item-actions,
.pages-catalog__item[active] .pages-catalog__item-actions,
.pages-catalog__item[open] .pages-catalog__item-actions {
  visibility: visible;
  opacity: 1;
}

.pages-catalog__item-more-actions {
  display: flex;
  flex-direction: row-reverse;
  gap: calc(var(--layout-gap) / 4);
}

.pages-catalog__item-more-actions button {
  --delay: 0ms;
  animation: delay var(--transition-base) var(--delay) both;
}

.pages-catalog__item-more-confirm {
  font-size: calc(var(--text-xs) - 0.05rem);
}
