.admin-shell {
  display: flex;
  flex-direction: column;
}

.admin-main {
  flex: 1;
}

.atria-tooltip__content {
  background: var(--background);
  box-shadow: var(--box-shadow);
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
  animation: var(--card-pop);
  border-radius: var(--radius);
  font-size: var(--text-xs);
  border: var(--border);
  opacity: 0;
}


.atria-tooltip__text {
  animation: var(--card-fade);
  opacity: 0;
}

@keyframes card-pop {
  from {
    opacity: 0;
    transform: scale(0.75);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes card-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
