* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: max-content;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
  font-size: var(--text-sm);
}

body > div {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  position: relative;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
  color: inherit;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

h1 {
  line-height: 1;
  font-size: 1.375rem;
  letter-spacing: -0.010rem;
}

button {
  border-radius: var(--baseline);
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  width: auto;
  appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=button]:hover,
[type=submit]:hover,
button:hover {
  text-decoration: none;
}

[type=button],
[type=submit],
button {
  padding: 0;
  color: inherit;
  white-space: nowrap;
  background: initial;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
}

button:disabled,
[type=button]:disabled,
[type=submit]:disabled {
  cursor: no-drop;
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 1px solid var(--accent);
  border-radius: inherit;
}

:after,
:before {
  box-sizing: border-box;
}
