@import "../parts/catalog/styles/pages-catalog.css";
@import "../parts/editor/styles/pages-editor.css";
@import "../shared/actions-more/actions-more.css";

.studio-screen__pages {
  display: flex;
  height: 100%;
  width: 100%;
}

.pages-layout {
  display: flex;
  flex: 1;
}

[data-zone=pages\:a] {
  max-width: 20rem;
}

[data-zone=pages\:b] {
  max-width: 23rem;
}
