* {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
  background: var(--boot-bg);
  color: var(--color-text);
}

body > div {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  transition: left var(--duration-base) ease;
  position: relative;
  height: 100%;
}

:after,
:before {
  box-sizing: border-box;
}
