.studio-account__profile {
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  text-align: left;
  cursor: pointer;
}

.studio-account__profile-user {
  display: block;
  width: min-content;
}

.studio-account__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--solid);
  border: var(--border-solid);
  border-radius: 999px;
  vertical-align: top;
  overflow: hidden;
}

.studio-account__avatar--control {
  height: 1.5rem;
  width: 1.5rem;
}

.studio-account__avatar--user {
  height: 2rem;
  width: 2rem;
}

.studio-account__avatar--text {
  font-size: 0.75rem;
  line-height: 1;
}

.studio-account__avatar-image {
  width: 100%;
  height: 100%;
}

.studio-account-popover__content {
  --popover-content-padding: 1rem;
}

.studio-account__user {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 3);
  position: relative;
}

.studio-account__info {
  display: flex;
  flex-direction: column;
}

.studio-account__email {
  color: var(--text-ghost);
  font-size: var(--text-xs);
}

.studio-account__logout {
  position: absolute;
  right: .75rem;
  top: .75rem;
}

.studio-account__logout-button {
  opacity: 0.5;
}
