.studio-scheme {
  position: relative;
  width: var(--header);
  height: var(--header);
  float: left;
}

.studio-scheme__button {
  --button-size: var(--header);
  --button-overlay-inset: calc(var(--spacing) * 1);
  --button-overlay-radius: calc(var(--radius) / 2);
  width: var(--button-size);
  height: calc(var(--button-size) - 1px);
}

.studio-scheme__panel {
  top: calc(100% - 1px);
  position: absolute;
  right: 0;
}

.studio-scheme__panel--open {
  animation: var(--card-pop);
}

.studio-scheme__panel--closing {
  animation: var(--card-pop-reverse);
}

.studio-scheme__menu {
  border: var(--border-solid);
  background: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.studio-scheme__menu-content {
  display: flex;
  gap: var(--spacing);
  padding: calc(var(--layout-inset) / 1.5);
  animation: var(--card-fade);
  flex-direction: column;
  opacity: 0;
}
