.admin-main__sidebar {
  --sidebar-icon-size: 1.125rem;
  --sidebar-icon-stroke-width: 1.75;
  float: left;
  top: var(--header);
  width: var(--sidebar);
  height: calc(100vh - var(--header));
  border-right: var(--border);
  min-height: 20rem;
  position: sticky;
  z-index: 0;
  flex: 0;
}

.admin-main__sidebar nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.admin-main__sidebar nav > div {
  margin-top: auto;
}

.admin-main__sidebar button {
  width: calc(var(--sidebar) - 1px);
  height: var(--sidebar);
  background: transparent;
  position: relative;
  cursor: pointer;
}

.admin-main__sidebar button::after {
  content: '';
  position: absolute;
  background: transparent;
  transition: background var(--transition-fast);
  opacity: 0.5;
  z-index: 0;
  inset: 0;
}

.admin-main__sidebar button:hover::after {
  background: var(--button-muted-hover);
}

.admin-main__sidebar-icon {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--sidebar-icon-stroke-width);
  width: var(--sidebar-icon-size);
  height: var(--sidebar-icon-size);
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.admin-main__sidebar-icon.logout {
  transform: rotate(180deg);
}
