.admin-main__screen {
  flex-basis: 100%;
  min-height: 24rem;
}

.card-column {
  width: 100%;
}

.card-column + .card-column {
  border-left: var(--border);
}

.card-column__stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.card-column__item {
  height: 100%;
  width: 100%;
}

.card-column__item + .card-column__item {
  border-top: var(--border);
}

.card-screen {
  padding: var(--layout-inset);
  height: inherit;
}
