.studio-shell {
  display: flex;
  flex-direction: column;
}

.studio-main__body {
  display: flex;
}

.studio-main__screen {
  flex-basis: 100%;
  min-height: 24rem;
}

.card-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: auto;
}

.card-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.card-screen {
  height: inherit;
  min-height: 3rem;
  padding: var(--layout-inset);
}

.card-column__stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.card-row__item,
.card-column__item {
  width: 100%;
  height: auto;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 1 0;
}

.card-column__item--shrink {
  flex: 0 0 auto;
  overflow: visible;
}

.card-column + .card-column {
  border-left: var(--border-solid);
}

.card-row__item + .card-row__item {
  border-left: var(--border-solid);
}

.card-column__item + .card-column__item {
  border-top: var(--border-solid);
}
