.pages-editor__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-height: 1rem;
}

.pages-editor__header-leading {
  display: flex;
  gap: var(--layout-gap);
}

.pages-editor__header-title,
.pages-editor__header-action {
  display: flex;
  align-items: center;
  gap: calc(var(--layout-gap) * 1.3);
}

.pages-editor__header-tools {
  display: flex;
  align-items: center;
  gap: calc(var(--layout-gap) / 2);
}

.pages-editor__status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 999px;
  background: transparent;
  height: calc(var(--baseline) * 9);
  padding-right: calc(var(--spacing) * 3);
  padding-left: calc(var(--spacing) * 2);
}

.pages-editor__status--draft {
  opacity: 0.5;
}

.pages-editor__status--online {
  color: var(--valid);
}

.pages-editor__main {
  margin: 0 auto;
  max-width: var(--space-inline-xs);
}

.pages-editor__create-form {
  padding-block: var(--space-block-xs);
}

.pages-editor__field {
  margin-block: var(--space-block-sm);
}

.pages-editor__slug-wrap {
  display: flex;
  align-items: center;
  position: relative;
  border: var(--border-solid);
  border-radius: var(--baseline);
}

.pages-editor__slug-wrap--error {
  border-color: var(--error);
}

.pages-editor__slug-prefix {
  border-right: var(--border-solid);
  pointer-events: none;
}

.pages-editor__slug-prefix-inner {
  display: flex;
  align-items: center;
  height: calc(var(--baseline) * 11);
  background: var(--solid);
  opacity: 0.33;
}

.pages-editor__slug-prefix-text {
  font-size: var(--text-sm);
  padding-inline: calc(var(--spacing) * 2.5);
  line-height: 1;
}

.pages-editor__slug-input {
  border: 0;
  padding-block: 0;
  padding-inline: calc(var(--spacing) * 2.5);
  height: calc(var(--baseline) * 11);
  width: 100%;
}

.pages-editor__slug-wrap--error .pages-editor__slug-input {
  padding-right: calc(var(--spacing) * 9);
}

.pages-editor__slug-error {
  position: absolute;
  right: calc(var(--spacing) * 2.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pages-editor__more {
  position: relative;
}

.pages-editor__more-panel {
  position: absolute;
  top: calc(100% + 12px);
  left: -50%;
}

.pages-editor__more-panel--open {
  animation: var(--card-pop);
}

.pages-editor__more-panel--closing {
  animation: var(--card-pop-reverse);
}

.pages-editor__more-panel-label {
  font-size: 0.8rem;
}

.pages-editor__more-menu {
  border: var(--border-solid);
  background: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.pages-editor__more-menu-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: calc(var(--layout-inset) / 1.5);
  animation: var(--card-fade);
  opacity: 0;
}
