.pages-editor__slug-wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.pages-editor__slug-wrap--error {
  border-color: var(--error);
}

.pages-editor__slug-prefix {
  border-right: none;
  border: var(--border-solid);
  border-top-left-radius: var(--baseline);
  border-bottom-left-radius: var(--baseline);
  height: calc(var(--baseline) * 11);
  pointer-events: none;
  border-right: none;
}

.pages-editor__slug-prefix-inner {
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--solid);
  opacity: 0.5;
}

.pages-editor__slug-prefix-text {
  font-size: var(--text-sm);
  padding-inline: calc(var(--spacing) * 2.5);
  line-height: 1;
}

.pages-editor__slug-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pages-editor__slug-wrap--error .pages-editor__slug-input {
  padding-right: calc(var(--spacing) * 9);
}

.pages-editor__slug-error {
  position: absolute;
  color: var(--error);
  right: calc(var(--spacing) * 2.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
