/*!aside*/
.admin-main__sidebar {
  float: left;
  top: var(--header);
  width: var(--sidebar);
  height: calc(100vh - var(--header));
  border-right: var(--border-solid);
  min-height: 20rem;
  position: sticky;
  z-index: 0;
  flex: 0;
}

.admin-main__sidebar nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.admin-main__sidebar div:first-child {
	margin-top: 0.5rem;
}

.admin-main__sidebar div:last-child {
  margin-top: auto;
	margin-bottom: 0.75rem;
}

.admin-main__sidebar div:last-child > :first-child {
  margin-bottom: 1rem;
}

.admin-main__sidebar-button {
	display: flex;
	align-items: center;
	justify-content: center;
  --button-size: var(--sidebar);
  --button-overlay-inset: calc(var(--spacing) * 1);
  --button-overlay-radius: var(--soft);
  width: calc(var(--button-size) - 1px);
  height: 2.5rem;
}

.admin-main__sidebar-button svg {
  width: 1.125rem;
  height: 1.125rem;
}

.admin-main__sidebar-icon.theme {
  transform: rotate(90deg);
}

.admin-main__sidebar-icon.logout {
  transform: rotate(180deg);
}
