.pages-folders__header {
  display: flex;
  align-items: center;
  position: relative;
}

.pages-folders__header-action {
  display: flex;
  right: var(--layout-inset);
  gap: calc(var(--layout-gap) / 2);
  position: absolute;
}
