.pages-catalog {
  height: 100%;
}

.pages-catalog__header,
.pages-catalog__search {
  display: flex;
  align-items: center;
  position: relative;
}

.pages-catalog > div:not(:last-child) {
  margin-bottom: 0.5rem;
}

.pages-catalog__header-action {
  right: 0;
  display: flex;
  gap: calc(var(--layout-gap) / 2);
  position: absolute;
}

.pages-catalog__action--create {
  content: '';
}

.pages-catalog__main {
  display: grid;
  gap: var(--layout-gap);
}

.pages-catalog__item {
  display: flex;
  align-items: center;
  gap: var(--layout-gap);
  border-radius: var(--baseline);
  cursor: pointer;
  padding: 0.625rem 0.5rem;
}

.pages-catalog__item:hover,
.pages-catalog__item[active] {
  background: var(--ghost-hover);
}

.pages-catalog__item-status {
  display: flex;
  color: var(--link);
}

.pages-catalog__item-status svg {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 4px;
}
